@model SmartWatch.Areas.Countries.Models.ViewModels.CountryViewModel

@{
    ViewData["Title"] = "AddorEdit";
}


<div class="row">
    <div class="col-md-12">

        <form method="post" action="/Countries/Country/SaveCountry">

            <input name="CountryCode" id="CountryCode" type="hidden" class="form-control" value="@Model.CountryCode" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 align-self-center"><label asp-for="Country1" class="col-md-4 text-right">国の名前</label></div>
                    <div class="col-md-5 align-self-cente">
                        <input name="Country1" placeholder="国の名前" id="Country1" class="form-control" value="@Model.Country1" />
                        <span asp-validation-for="Country1" class="text-danger"></span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 align-self-center"><label asp-for="TimeDifferenceHour" class="col-md-4 text-right">時間の時差</label></div>
                    <div class="col-md-5 align-self-cente">
                        <input name="TimeDifferenceHour" placeholder="時間の時差" id="TimeDifferenceHour" class="form-control" value="@Model.TimeDifferenceHour" />
                        <span asp-validation-for="TimeDifferenceHour" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-md-5 align-self-center"><label asp-for="TimeDifferenceMinute" class="col-md-4 text-right">分単位の時差</label></div>
                    <div class="col-md-5 align-self-cente">
                        <input name="TimeDifferenceMinute" placeholder="分単位の時差" id="TimeDifferenceMinute" class="form-control" value="@Model.TimeDifferenceMinute" />
                        <span asp-validation-for="TimeDifferenceMinute" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
