@model IEnumerable<SmartWatch.Areas.Dashboard.Models.ViewModels.ProfileViewModel>
@{
    ViewData["Title"] = "PatientsDetailsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>患者詳細ページ</h1>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/4b7cd4418d.js" crossorigin="anonymous"></script>
<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
        <div class="row"> 
            <div class="col-12 mt-3 mb-1">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">

                            <p id="name"><h4 class="text-uppercase"></h4></p>
                            <p id="contactNo"><i class='fas fa-phone-volume danger font-large-1'></i></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12" onclick="clickHeartrate()">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-heart danger font-large-2 float-left"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <p id="hr"><h3></h3></p>
                                                <span>
                                                    心拍数
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12" onclick="clickStepcount()">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-running warning font-large-2 float-left"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <p id="sc"><h3></h3></p>
                                                <span>歩数</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12" onclick="clickBodyTemp()">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-temperature-low success font-large-2 float-left"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <p id="bt"><h3></h3></p>
                                                <span>体温</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12" onclick="clickBloodPressure()">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-heartbeat primary font-large-2 float-left"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <p id="lbp"><h3></h3></p>
                                                <span>血圧を下げる</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12" onclick="clickBloodPressure()">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-heartbeat danger font-large-2 float-left"></i>

                                            </div>
                                            <div class="media-body text-right">
                                                <p id="hbp"><h3></h3></p>
                                                <span>より高い血圧</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>


</div>
<script type="text/javascript">


    function clickHeartrate() {
        window.location.href = "/HeartRatee/HeartRate/Index/?UserId="+ @ViewBag.userid;

    }
    function clickStepcount() {
        window.location.href = "/StepCountt/StepCount";

    }
    function clickBodyTemp() {

        window.location.href = "/BdyTemperature/BodyTemperature/Index/?UserId="+ @ViewBag.userid;

    }
    function clickBloodPressure() {
        window.location.href = "/BloodPressur/BloodPressure/Index/?userid="+ @ViewBag.userid;

    }
    getData();


    function getData() {
        var json_url = "/Dashboard/Dashboard/PatientsDetailsViewById/?userid=" + @ViewBag.userid;
        var data1 = data1 || {};

        $.getJSON(json_url, data1).done(function (patient) {


            $("#hbp").empty();
            $("#lbp").empty();
            $("#hr").empty();
            $("#sc").empty();
            $("#bt").empty();
            $("#name").empty();
            $("#contactNo").empty();
            for (i = 0; i < patient.length; i++) {
                var fillbpu = getBloodPUpper(patient[i].bloodPressureUpper);
                var fillbpl = getBloodPLower(patient[i].bloodPressureLower);
                var fillhr = getHeartRate(patient[i].PulseRate);
                var fillbt = getBodytemp(patient[i].Temperature);
                var fillsc = getStepsCount(patient[i].Steps);
                $("#name").append("<p id='name'><b><h4 class='text-uppercase'>" + patient[i].Username + "</h4></b></p>");
                $("#contactNo").append("<p id ='contactNo'><i class='fas fa-phone-volume danger font-large-1'></i>" + patient[i].Mobile + "</p >");
                $("#hbp").append("<h3>" + fillbpu + "</h3>");
                $("#lbp").append("<h3>" + fillbpl+ "</h3>");
                $("#hr").append("<h3>" + fillhr + "</h3>");
                $("#sc").append("<h3>" + fillsc + "</h3>");
                $("#bt").append("<h3>" + fillbt+ "</h3>");


            }
            setTimeout(getData, 1000);

        });

    }
    function getBloodPUpper(bpu) {
        var fillbpu;
        if (bpu < 100) {
            fillbpu = fillColor("#FF0000", bpu);
        } else if (bpu >= 100 && bpu < 110) {

            fillbpu = fillColor("#ffd966", bpu);
        } else if (bpu >= 110 && bpu < 120) {

            fillbpu = fillColor("#00b050", bpu);
        } else if (bpu >= 120 && bpu < 139) {

            fillbpu = fillColor("#ffd966", bpu);
        } else if (bpu >= 140) {

            fillbpu = fillColor("#FF0000", bpu);
        }
        return fillbpu;
    }

    function getBloodPLower(bpl) {
        var fillbpl;
        if (bpl < 70) {
            fillbpl = fillColor("#FF0000", bpl);
        } else if (bpl >= 70 && bpl < 80) {

            fillbpl = fillColor("#ffd966", bpl);
        } else if (bpl >= 80 && bpl < 90) {

            fillbpl = fillColor("#00b050", bpl);
        } else if (bpl >= 90 && bpl < 100) {

            fillbpl = fillColor("#ffd966", bpl);
        } else if (bpl >= 100) {

            fillbpl = fillColor("#FF0000", bpl);
        }
        return fillbpl;
    }

    function getHeartRate(hr) {

        var fillhr;
        if (((hr >= 35 && hr <= 114) || (hr >= 171 && hr <= 190)) || hr==0 ) {

            fillhr = fillColor("#FF0000", hr);
        } else if ((hr > 114 && hr <= 133) || (hr >= 152 && hr < 171)) {

            fillhr = fillColor("#ffd966", hr);
        } else if (hr > 133 && hr < 152) {

            fillhr = fillColor("#00b050", hr);
        }
        return fillhr;
    }

    function getBodytemp(bt) {

        var fillbt;
        if (bt < 35) {

            fillbt = fillColor("#FF0000", bt);
        } else if (bt >= 35 && bt < 36) {

            fillbt = fillColor("#ffd966", bt);
        } else if (bt >= 36 && bt < 37) {

            fillbt = fillColor("#00b050", bt);
        } else if (bt >= 37 && bt < 38) {

            fillbt = fillColor("#ffd966", bt);
        } else if (bt >= 38) {

            fillbt = fillColor("#FF0000", bt);
        }
        return fillbt;
    }

    function getStepsCount(sc) {

        var fillsc;
        if (sc < 8000) {

            fillsc = fillColor("#ffd966", sc);
        } else if (sc >= 8000 && sc < 12000) {

            fillsc = fillColor("#00b050", sc);
        } else if (sc >= 12000) {

            fillsc = fillColor("#ffd966", sc);
        }
        return fillsc;
    }
    function fillColor(colorcode, value) {
        var tag = "<b><p style='font-size: 30px;color:" + colorcode + ";'>" + value + "</p></b>";
        return tag;
    }
</script>